body{
    background: #1e1f24;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    /* background: lightblue; */
    color: black;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

.container{
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid #DDD;
    margin: 0 auto;
    background: white;
}

.container h1{
    font-size: 20px;
}

.cabecera{
    background: #33A;
    box-shadow: 0px 2px 20px 0px rgba(0,0,0,0.5);
    color: white;
    font-weight: bold;
    margin: 0;
    padding: 0.5em;
}

.cabecera #logo{
    width: 120px;
    vertical-align: middle;
    padding: 3px;
    padding-left: 10px;
    padding-right: 30px;
}

.cabecera #tagline{
    color: black;
    font-weight: normal;
    font-size: 0.8em;
}

.footer{
    background: cadetblue;
    text-align: center;
    color: black;
    margin: 0;
    width: 70%;
    margin: 0 auto;
    border: 17px solid cadetblue;
}

.imagen_central{
    display: flex;
    /* background: chartreuse; */
    justify-content: center;
    justify-items: center;
}

